/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Flow1]
      ,[Flow2]
      ,[Flow3]
      ,[Flow4]
      ,[Power1]
      ,[Power2]
      ,[Power3]
      ,[Power4]
      ,[level1]
      ,[level2]
      ,[level3]
      ,[level4]
      ,[setpoint1]
      ,[setpoint2]
      ,[setpoint3]
      ,[setpoint4]
      ,[Timestamp]
  FROM [SQLconnectPLC].[dbo].[mytable]